.border-red {
  border: 2px solid red;
}
/* Placeholder for landing page */
#landing-page {
  background: url(../img/sweden.jpeg);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* section 4 */
#info-sweden {
  background-image: url(../img/stockholm-1.webp);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 50vh;
  padding: 2rem;
}

.section4 h1 {
  color: white;
  font-size: calc(2.3rem + 1.5vw);
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
#sweden-body {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px) contrast(0.8);
}
/* section 5 */
.section5,
.section6 {
  background-color: #0071ae;
}

/* section 6 */
.section6 {
  color: whitesmoke;
}
.section6 h4 {
  text-align: center;
  padding: 10px 0;
}
.section6 p {
  text-align: left;
}

.widget {
  border-radius: 32px;
  min-height: 100%;
}

.card {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

.btn {
  border: 1px solid rgb(255, 255, 255);
  padding: 8px;
}

/* Header & sidebar @ width <= 991px */
@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }
  table {
    font-size: 14px;
  }
}
/* section 5 & sidebar >= 1200px */
@media (min-width: 1200px) {
  .table td,
  .table th {
    padding: 16px;
    font-size: larger;
  }
  .section6 {
    font-size: larger;
  }
}